.tipr_content
	font-family: 'Montserrat', sans-serif
	font-weight: 400
	font-size: 11px
	letter-spacing: .05em
	line-height: 1.2em
	text-transform: uppercase
	text-align: center
	color: grey
	background-color: white
	//padding: 10px 20px
	width: max-content

.tipr_container_bottom
	display: none
	position: absolute
	margin-top: 13px
	z-index: 1000

.tipr_container_top
	display: none
	position: absolute
	margin-top: -75px
	z-index: 1000

.tipr_point_top,.tipr_point_bottom
	position: relative
	background: white
	border: 1px solid grey

.tipr_point_top:after,.tipr_point_top:before
	position: absolute
	pointer-events: none
	border: solid transparent
	top: 100%
	content: ""
	height: 0
	width: 0

.tipr_point_top:after
	border-top-color: white
	border-width: 8px
	left: 50%
	margin-left: -8px

.tipr_point_top:before
	border-top-color: grey
	border-width: 9px
	left: 50%
	margin-left: -9px

.tipr_point_bottom:after, .tipr_point_bottom:before
	position: absolute
	pointer-events: none
	border: solid transparent
	bottom: 100%
	content: ""
	height: 0
	width: 0

.tipr_point_bottom:after
	border-bottom-color: white
	border-width: 8px
	left: 50%
	margin-left: -8px

.tipr_point_bottom:before
	border-bottom-color: grey
	border-width: 9px
	left: 50%
	margin-left: -9px