body_copy_typography()
	font-family: 'Libre Baskerville', serif
	font-size: 13px
	line-height: 1.9em
	letter-spacing: .05em
	color: grey

title_1()
	font-family: 'Montserrat', sans-serif
	font-weight: 400
	font-size: 25px
	letter-spacing: .3em
	position: relative
	text-transform: uppercase

title_2()
	font-family: 'Montserrat', sans-serif
	font-weight: 700
	font-size: 19px
	letter-spacing: .1em
	line-height: 1.6em
	position: relative
	text-transform: uppercase

title_3()
	font-family: 'Montserrat', sans-serif
	font-weight: 700
	font-size: 16px
	letter-spacing: .3em
	position: relative
	text-transform: uppercase
	color: grey

title_4()
	font-family: 'Montserrat', sans-serif
	font-weight: 700
	font-size: 14px
	letter-spacing: .3em
	text-transform: uppercase
	color: grey

title_5()
	font-family: 'Montserrat', sans-serif
	font-weight: 400
	font-size: 18px
	letter-spacing: .05em
	line-height: 1.2em
	color: grey

title_6()
	font-family: 'Montserrat', sans-serif
	font-weight: 400
	font-size: 15px
	letter-spacing: .05em
	line-height: 1.2em
	color: grey

p_line_breaks(margin-bottom=1.5em)
	p
		margin-bottom: arguments
	p:last-of-type
		margin-bottom: 0px



