//COLORS----------------------------
green = #b2dab9
link_green = #82B48B
grey = #676a6f
cream = #edede8
white = #fff
dark_grey = #282828

//SPACING----------------------------
normal = 120px
double = normal * 2
half = normal / 2
quarter = normal / 4