@import 'normalize.css';
@media (max-width: 1200px) {
  .home_hero .vid_bg {
    max-width: none;
    height: 100%;
  }
  .home_hero {
    background-size: auto 100% !important;
    background-position: top right !important;
  }
  .newsletter_form {
    letter-spacing: 0.1em;
    font-size: 12px;
  }
  #contact_info .intro,
  #contact_info .info {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #contact_info .intro:first-child,
  #contact_info .info:first-child {
    margin-left: auto;
  }
  #contact_info .intro:last-child,
  #contact_info .info:last-child {
    margin-right: auto;
  }
  #contact_info .info {
    margin-top: 30px;
  }
}
@media (max-width: 1023px) {
  .nav_links_clear {
    right: 40px;
  }
  .nav_links_clear a {
    margin-left: 40px;
  }
  .project_thumb .overlay {
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
  .project_thumb .couple {
    font-size: 14px;
  }
  .project_thumb .location {
    font-size: 12px;
  }
  .team .profiles {
    margin-bottom: -30px;
  }
  .team .profile {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 46%;
    margin-left: 0%;
    margin-right: 8%;
    text-align: center;
    margin-bottom: 30px;
  }
  .team .profile:before,
  .team .profile:after {
    content: '';
    display: table;
  }
  .team .profile:after {
    clear: both;
  }
  .team .profile:nth-child(4n) {
    margin-right: 8%;
    float: left;
  }
  .team .profile:nth-child(4n+1) {
    clear: none;
  }
  .team .profile:nth-child(2n) {
    margin-right: 0%;
    float: right;
  }
  .team .profile:nth-child(2n+1) {
    clear: both;
  }
  .blog_post .content .text {
    width: 100%;
  }
  .blog_post .content .fb-like {
    float: none;
    margin-top: 30px;
  }
}
@media (max-width: 850px) {
  .mega_wrapper {
    margin: 0px;
  }
  .nav_mobile {
    display: block;
    left: 0px;
    right: 0px;
  }
  .nav_clear,
  .nav_reg {
    display: none;
  }
  .nav_end {
    display: none;
    height: 60px;
    left: 0px;
    right: 0px;
    position: fixed;
  }
  #nav_logo {
    left: 10px;
  }
  #nav_links {
    right: 20px;
  }
  .home_hero,
  .about_hero,
  .project_hero {
    height: 480px;
  }
  .home_hero {
    background-size: auto 100% !important;
    background-position: center !important;
  }
  .home_hero .vid_bg {
    display: none;
  }
  .home_hero_button {
    top: 230px;
  }
  .about_hero .title {
    top: 300px;
  }
  .about_hero .divider {
    top: 300px;
  }
  .project_thumb {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .project_thumb:first-child {
    margin-left: auto;
  }
  .project_thumb:last-child {
    margin-right: auto;
  }
  .project_thumb .overlay {
    *zoom: 1;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    opacity: 1;
  }
  .project_thumb .overlay:before,
  .project_thumb .overlay:after {
    content: '';
    display: table;
  }
  .project_thumb .overlay:after {
    clear: both;
  }
  .project_thumb .text {
    position: static;
    -ms-transform: none;
        transform: none;
    -webkit-transform: none;
    width: auto;
    opacity: 1;
  }
  .project_thumb .couple {
    float: left;
    font-size: 16px;
  }
  .project_thumb .couple::after {
    content: "";
    border-bottom: none;
    border-right: 1px solid #b2dab9;
    display: inline;
    height: 15px;
    margin: 0 20px;
  }
  .project_thumb .location {
    float: left;
    font-size: 14px;
  }
  .about_info .headline,
  .team .headline {
    border: none;
  }
  .about_info .text,
  .team .text,
  .about_info .profiles,
  .team .profiles {
    width: 100%;
    margin-top: 20px;
  }
  .about_info .headline,
  .team .headline,
  .about_info .info,
  .team .info,
  .about_info .profiles,
  .team .profiles {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .about_info .headline:first-child,
  .team .headline:first-child,
  .about_info .info:first-child,
  .team .info:first-child,
  .about_info .profiles:first-child,
  .team .profiles:first-child {
    margin-left: auto;
  }
  .about_info .headline:last-child,
  .team .headline:last-child,
  .about_info .info:last-child,
  .team .info:last-child,
  .about_info .profiles:last-child,
  .team .profiles:last-child {
    margin-right: auto;
  }
  .locations .description {
    width: 100%;
  }
  .logos {
    margin-top: 120px;
  }
  .logos .logo {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 30px;
  }
  .logos .logo:before,
  .logos .logo:after {
    content: '';
    display: table;
  }
  .logos .logo:after {
    clear: both;
  }
  .logos .logo:last-child {
    margin-right: 0%;
  }
  .logos .logo:nth-child(-n+5) {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 30px;
  }
  .logos .logo:nth-child(-n+5):before,
  .logos .logo:nth-child(-n+5):after {
    content: '';
    display: table;
  }
  .logos .logo:nth-child(-n+5):after {
    clear: both;
  }
  .logos .logo:nth-child(-n+5):last-child {
    margin-right: 0%;
  }
  .logos .logo:nth-child(3),
  .logos .logo:nth-child(5),
  .logos .logo:nth-child(8) {
    margin-right: 0;
  }
  .blog_post .date {
    font-size: 24px;
  }
  .footer .newsletter_text,
  .footer .newsletter_form {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .newsletter_text:first-child,
  .footer .newsletter_form:first-child {
    margin-left: auto;
  }
  .footer .newsletter_text:last-child,
  .footer .newsletter_form:last-child {
    margin-right: auto;
  }
  .footer .newsletter_form {
    position: static;
    left: 0;
    margin-top: 30px;
  }
}
